﻿body 
{
    background-color:#BB4030;
    font-family:Arial, Calibri, Sans-Serif;
    color:#EEFFFF;
}

a
{
    color:#FFFFFF;
}

#Menu1 { float:none !important; }
#Menu1 ul { float:none !important; }
#Menu1 ul li { float:none !important; display:inline-block; padding:0px 10px 0px 10px; }

#Docslist li, #Formslist li { padding-bottom:10px; }
.done   { text-decoration:line-through; }